.right-organ {
    height: calc(100vh - 150px);
    overflow-y: auto;
}
.left-organ {
    height: calc(100vh - 150px);
    overflow-y: auto;
}
.box-icon-list .icon-item {
    margin-right: 5px;
    color: #683c8f;
    font-size: 16px;
    cursor: pointer;
}
.search-focus {
    color: red !important;
}
.organ-datatable table {
    width: 100% !important;
    border-collapse: collapse;
    margin-bottom: 10px;
    .col-left {
        border: 1px solid #c2c2c2;
        background-color: #f8faff !important;
        text-align: right;
        padding-right: 5px;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        font-size: 13px;
        color: #202020;
        width: 220px;
    }
    .col-right {
        border: 1px solid #c2c2c2;
        padding: 5px;
        color: #202020;
        font-size: 13px;
        vertical-align: middle;

        .right-content {
            width: 280px;
        }
    }
    .col-header {
        line-height: 26px;
        border: 1px solid #c2c2c2;
        background-color: #f8faff !important;
        padding-right: 5px;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        font-size: 13px;
        color: #202020;
        width: 220px;
    }
}
.popup-demo {
    width: 100%;
    height: "";
}
.card {
    background-color: $white;
    padding: 1em;

    &.card-w-title {
        padding-bottom: 2em;
    }

    &.card-no-padding {
        padding: 0em;
    }

    h1 {
        margin: 1em 0 0.5em 0;
        border-bottom: 1px solid #d5d5d5;
        padding: 0.1em;
        font-size: 24px;

        &:first-child {
            margin: 0 0 0.5em 0;
        }
    }
}

.box-count_data h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.badge-primary {
    background-color: #0388e5;
    color: #ffffff;
}
.badge {
    min-width: 10px !important;
    padding: 4px 6px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    color: #fff;
    background-color: #0388e5;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    vertical-align: bottom;
    display: inline-block;
}

/* end style scrollbar */
.sticky th {
    position: sticky !important;
    top: 99px;
}

.text-funtion {
    color: #00469c;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer !important;
}
.car {
    margin-bottom: 10px !important;
}
.h-datatable table tbody tr:hover {
    background-color: #eff9fa !important;
}
//body .p-treetable .p-treetable-thead > tr > th {
//    color: white !important;
//    background-color: #0388e5 !important;
//}

.funtion-icon {
    font-size: 25px !important;
}

.box-date {
    width: 100%;
}

.box-grid-custom .col-gender {
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}
.box-grid-custom .text-input,
.box-grid-custom .box-date input {
    display: block;
    width: 100%;
    height: 33px;
    padding: 4px 12px;
    font-size: 14px;
    color: #555;
    background-color: $white;
    background-image: none;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.box-warning-taisan {
    background-color: yellow;
    padding: 5px 6px;
    border-radius: 5px 5px 5px 5px;

    border: solid 1px red;
    max-height: 110px;
    overflow-y: auto;
}
.box-warning-taisan .item-warning-taisan {
    color: black;
    line-height: 18px;
    font-size: 13px;
}
.box-warning-taisan .item-warning-taisan span {
    margin-left: 3px;
}
body .box-grid-custom .p-accordion .p-accordion-header a {
    background-color: #007ad9 !important;
}
.item-warning-taisan i {
    font-size: 12px !important;
}
.text-center {
    text-align: center !important;
}

.text-input-a {
    width: 100%;
}
.text-red {
    color: red !important;
}
.text-green {
    color: #10b300 !important;
}
.text-blue {
    color: #0071bf !important;
}
.content-center {
    align-items: center;
}
.col-left {
    margin-top: 6px !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.hidden {
    display: none;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}

.button-group > * {
    margin-left: 5px;
}

.loading-popup {
    display: flex;
    z-index: 999999999;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0px;
    bottom: 0px;
}
.content-start {
    margin-bottom: 35px;
}

.sumary {
    font-weight: bold;
    padding-bottom: 5px;
}

.p-datatable-wrapper > table {
    width: 100% !important;
    table-layout: auto !important;
}
.grid-left {
    text-align: left !important;
}
.grid-right {
    text-align: right;
}
.grid-center {
    text-align: center;
}
.grid-link {
    color: #0071bf;
    cursor: pointer;
}
.grid-link.title-value {
    color: #0071bf;
}

.grid-link .pi-trash {
    color: red !important;
    font-size: 23px !important;
}
.grid-sub-name {
    font-weight: 600;
}

.grid-link:hover {
    color: #07bdf4;
}

.grid-span {
    display: block;
}

body .p-dialog {
    min-width: 500px;
}
body .p-dialog .p-dialog-titlebar .p-dialog-title {
    color: white;
}
body .p-dialog .p-dialog-titlebar .p-dialog-titlebar-icon:hover,
body .p-dialog .p-dialog-titlebar .p-dialog-titlebar-icon {
    color: white;
}
.p-datatable-row > td {
    padding: 4px 4px 3px 4px !important;
    /* border: 1px solid #07bdf4 !important; */
    cursor: default !important;
    font-size: 13px !important;
    line-height: 15px;
}

/* Content */
.right-content {
    padding: 0px 0px 0px 5px;
}

.section-title {
    font-size: 16px;
    //color: #00469c;
    color: $base-color;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-sub-title {
    font-size: 14px;
    color: $base-color;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section-break-line {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.section-content {
    padding: 0px 0px 20px 20px !important;
}
.title-info-pass {
    font-size: 12px;
    color: red;
    font-style: italic;
}
.title-info {
    font-weight: 600;
    /*font-size: 12px;*/
    line-height: 22px;
    display: block;
    float: left;
}

.title-info-no-float {
    font-weight: 600;
    line-height: 22px;
    display: block;
}

.content-info {
    display: block;
    padding: 8px 5px;
    min-height: 30px;
    font-size: 14px;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
    font-weight: normal;
}

.title-info-horizontal {
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    display: block;
}

.title-value {
    display: block;
    width: 100%;
    padding: 5px 10px;
    min-height: 30px;
    line-height: 16px;
    font-size: 14px;
    color: #222;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    // transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    // &.small {
    //     min-height: 26px;
    //     height: 26px;
    //     line-height: 13px;
    // }
}
.title-value-white {
    display: block;
    width: 100%;
    padding: 5px 10px;
    min-height: 30px;
    line-height: 16px;
    font-size: 14px;
    color: #222;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    &.small {
        min-height: 26px;
        height: 26px;
        line-height: 13px;
    }
}
.row {
    width: 100%;
    padding: 7px 0px 0px 0px !important;
}

.disable-search {
    pointer-events: none;
    opacity: 0.7;
    background: none;
    border: none;
}

.search-caption {
    padding-top: 15px !important;
    text-align: right;
}

.p-link-color {
    color: #007ad9;
}

.custom-dialog {
    z-index: 99999;
    background-color: white;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.3);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.custom-dialog-content {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 3px grey;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.clearfix::before {
    display: table;
}
.content-padding {
    padding-left: 14px;
    padding-right: 14px;
}

.custom-dialog-header {
    width: 100%;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.custom-dialog-bt-close {
    width: 100px;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    height: 30px;
    padding: 0 auto;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.custom-dialog-bt-close span {
    display: block;
}

/* .custom-dialog-bt-close div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
} */

.credit-col1-padding {
    padding-right: 30px !important;
}

.credit-col2-padding {
    padding-left: 30px !important;
}

.credit-title {
    font-size: 15px;
    color: #00469c;
    font-weight: bold;
}

.custom-dropdown {
    width: 100%;
    padding: 0.429em;
    font-size: 14px;
}

.debt-dropdown {
    width: 28.4%;
}

.custom-input {
    width: 100%;
}

.dialog-report {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.dialog-report-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.custom-p-calendar {
    width: 100%;
}

.custom-footer {
    text-align: right;
    float: right;
}

.custom-p-calendar input {
    width: 100%;
}
.title-table {
    font-size: 18px;
    //font-family: tahoma;
    //margin-top: 10px;
    color: #00469c;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px 19px 0px;
}
.lable-search-table {
    font-weight: bold;
    margin-top: 7px;
}
.ddl-style {
    border: 1px solid #007ad9 !important;
}

//.report-dialog {
//    padding-right: 0 2em 0 0;
//}

.search-table {
    width: 100%;
    margin-bottom: 5px;
    border-collapse: collapse;
}
.search-table tr th {
    text-align: right;
    font-weight: bold;
    padding-right: 6px;
    font-size: 13px;
    line-height: 16px;
}
.search-table tr td {
    padding: 3px;
}

.bt-report {
    font-size: 20px;
}

.text-number,
.text-number input {
    width: 100%;
}

.load-more {
    padding-top: 10px;
    text-align: center;
}

.col-item-right {
    border: 0.5px solid black;
    margin-bottom: 0.5em;
    border-bottom: none;
}

.col-item-last {
    border-bottom: 0.5px solid black;
}

.col-label {
    background-color: #0388e5;
    color: $white;
}

.search-box-btn {
    border: 1px solid #116fbf !important;
    background-color: white;
    border-radius: 3px;
    margin-left: 3px;
    padding: 0px 2px;
}

.search-box-icon {
    color: #848484;
    font-size: 15px;
}

.flex_dropdown-data {
    position: absolute;
    border: 1px solid #abadb3;
    background: #f3f3f3;
    z-index: 5000 !important;
    overflow: auto;
    max-height: 350px;
    min-height: 120px;
    display: none;
    box-sizing: border-box;
}
.p-radiobutton-label {
    margin-right: 5px !important;
}
.flex_dropdown-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.flex_dropdown-data table tbody > tr:hover {
    cursor: context-menu;
    background-color: #bbebfd;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.cell-row {
    margin-bottom: 10px;
}

.money-text {
    font-weight: bold;
}

.money-hit-ceiling {
    color: red;
}

.money-reach-bottom {
    color: purple;
}

// Áp dụng style cho bảng màn Quản lý xe - Giao xe
.cell-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cell-flex-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cell-container {
    // height: 100%;
    // max-height: 300px;
}

.sm-transport-table {
    tbody tr > td {
        height: 1px;
        vertical-align: top;
    }

    thead tr > th {
        z-index: 10;
    }

    .dialog {
        z-index: 2;
    }

    tr td:last-child {
        // width:1%;
        // white-space:nowrap;
        // max-width:100%;
    }

    .sm-textbox {
        width: 100%;
    }

    .search-box-content {
        position: absolute;
        z-index: 3;
    }

    .sm-datepicker {
        .p-datepicker {
            min-width: 315px;
        }
    }

    .fa-circle {
        font-size: 20px;
    }
}

.sm-transport-table-popup {
    .p-dialog-content {
        overflow: visible !important;
    }

    .p-disabled {
        background-color: #f5f5f5 !important;
        opacity: 1 !important;
    }

    .sm-combobox:disabled {
        background-color: #f5f5f5 !important;
        opacity: 1 !important;
    }
}

.sm-fund-table {
    tbody tr > td {
        height: 1px;
        vertical-align: top;
        word-break: break-word;
    }
}

.sm-transport-box-table {
    tbody tr:not(.table-footer) {
        cursor: pointer;
    }

    .select-row {
        color: white;
        background: #683c8f !important;

        .sm-button {
            color: white;
        }

        .sm-delete-button {
            color: white;
        }
    }
}

.sm-transport-box-img {
    max-width: 420px;
    // min-width: 400px;
    // max-height: 200px;
    height: 200px;
    // width: 80%;
    border: 1px solid #cecece;
}

.sm-transport-box-img-small {
    max-width: 98px;
    // max-height: 25px;
    // width: calc(100% - 5px);
    height: 100%;
    // margin-top: 1%;
    // margin-right: 5px;
    cursor: pointer;
}

.sm-transport-box-wrapper {
    position: relative;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid #cecece;
    margin-right: 5px;
    background-color: rgba(206, 206, 206, 0.6);
    cursor: pointer;

    i {
        position: absolute;
        right: 0px;
    }
}

.preview-image-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // background-color: rgba(206, 206, 206, 0.8);
}

.sm-transport-box-camera {
    opacity: 0.8;
    position: absolute;
    bottom: 10px;
    right: 60px;
    width: 60px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(206, 206, 206, 0.2);
    // background-color: rgba(255, 255, 255, 0.7);
}

.sm-transport-box-no-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    h2 {
        cursor: pointer;
        height: 100%;
        border: 1px solid #cecece;
        border-radius: 20px;

        width: 250px;
        height: 250px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sm-transport-box-img-wrapper-small {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .arrow-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 40px;
            color: #0388e5;
            cursor: pointer;
        }
    }

    .arrow-right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 40px;
            color: #0388e5;
            cursor: pointer;
        }
    }

    .image-container {
        width: 420px;
        display: flex;
        overflow: hidden;
        // background: rgba(206, 206, 206, 0.8);
    }

    .select {
        border: 2px solid #0388e5;
    }

    .hidden {
        display: none;
    }
}

.route-selector-uc {
    width: 100%;

    .grid-inactive {
        color: black;
    }
}
.header-popup-custom {
    margin-top: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    background-color: rgb(0, 170, 172);
    padding: 2px 6px;
    color: red;
    cursor: pointer;
}
.dialogbox-height-auto .dialog-content {
    max-height: none !important;
    height: auto;
}
.date-full input {
    width: 100% !important;
}
.item-relative {
    position: relative;
}
.item-absolute {
    position: absolute;
}
.item-table-error,
.item-table-warning {
    position: absolute;
    right: -4px;
    top: -8px;
    cursor: pointer;
}
.item-table-error i {
    color: red;
    font-size: 14px;
}
.row-border-bottom {
    border-bottom: 2px solid #ededed;
}
.row-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.item-table-warning i {
    color: gold;
    font-size: 14px;
}
.item-relative .dialog {
    position: absolute;
}
.item-relative .dialog .dialog-content a {
    display: inline-block !important;
}
.item-relative .dialog .dialog-content {
    // min-width: 300px; max-width:500px;;
    position: absolute;
    top: 3px;
    right: -16px;
    box-shadow: none !important;
}
.item-relative .dialog .dialog-content .dialog-header {
    text-align: left;
    display: none;
}
.item-relative .dialog .dialog-content .content-popup {
    text-align: right;
    white-space: nowrap;
    border: 1px solid gray;
}
.box-car-view h2 {
    font-size: 16px;
    margin-top: 10px;
    color: #0388e5;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.text-upper {
    text-transform: uppercase;
}
.view-list-car {
    height: 68px;
    overflow-y: auto;
}
.view-car-info {
    max-height: 388px;
    overflow-y: auto;
}
p.car-no-transport {
    color: #cecece !important;
}
.box-car-view p {
    line-height: 23px;
    font-size: 13px;
    cursor: pointer;
    color: #0071bf;
    padding-left: 5px;
    display: inline-block;
    width: 32%;
}

.display-none {
    display: none;
}

.w-100 {
    width: 100%;
}

.sm-numericbox input {
    width: 100%;
}
// 3 trang thai  fund-route
.icon-active {
    color: #0071bf;
    cursor: pointer;
}
.icon-unactive {
    color: black;
    cursor: pointer;
}
.icon-waitactive {
    color: gold;
    cursor: pointer;
}
// 3 trang thai  fund-route
.row-active {
    background: #dbf5f6 !important;
}

.grid-date-minute {
    width: 130px;
    text-align: center !important;
    white-space: nowrap;
}
.bold {
    font-weight: bold;
}
// css cho mau  b trạng thái
.badge {
    min-width: 10px;
    padding: 6px 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    border-radius: 8px;

    vertical-align: bottom;
    display: inline-block;
}
.status-border {
    background-color: rgb(2, 136, 209);
    color: #ffffff;
}

//bộ css màu cho trạng thái
.sm-status-1 {
    font-weight: bold;
    color: #23b7e5;
}
.sm-status-2 {
    font-weight: bold;
    color: #ff9a04;
}
.sm-status-3 {
    font-weight: bold;
    color: #10b300;
}
.sm-status-4 {
    font-weight: bold;
    color: #23b7e5;
}
.sm-status-5 {
    font-weight: bold;
    color: #0000ff;
}
.sm-status-6 {
    font-weight: bold;
    color: #ff9a04;
}
.sm-status-7 {
    font-weight: bold;
    color: #23b7e5;
}
.sm-status-8 {
    font-weight: bold;
    color: #10b300;
}
.sm-status-9 {
    font-weight: bold;
    color: #ff9a04;
}
.sm-status-10 {
    font-weight: bold;
    color: #0000ff;
}
.sm-status-11 {
    font-weight: bold;
    color: #10b300;
}
.sm-status-12 {
    font-weight: bold;
    color: #e7090f;
}
.sm-status-13 {
    font-weight: bold;
    color: #0000ff;
}
//css màn hình theo dõi xe
.box-info-left {
    width: 610px;
}
.box-info-right {
    width: calc(100% - 610px);
}

// ----------------------css cho trang home--------------
.home-abbank {
    background-color: white;
    .sec-h {
        float: left;
        width: 100%;
        padding: 20px 0;
    }
    .sec-h .title-sec {
        float: left;
        width: 100%;
        text-align: center;
        font-family: robotob;
        font-size: 24px;
        color: #0388e5;
    }
    .sec-h .body-sec {
        float: left;
        width: 100%;
        padding: 0 30px;
    }
    .linkTienich {
        float: left;
        width: calc(100% + 20px);
    }
    .linkTienich a {
        width: calc(25% - 20px);
        margin-right: 20px;
        float: left;
        background-color: #ebf6f6;
        margin-top: 20px;
        font-size: 18px;
        display: block;
        color: #000;
        padding: 13px 14px 12px 62px;
        position: relative;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        background-position: 25px center;
        background-repeat: no-repeat;
    }
    .linkTienich a span {
        width: 34px;
        height: 39px;
        position: absolute;
        background-position: 0 0;
        left: 21px;
        top: 5px;
        background-repeat: no-repeat;
    }
    .box-link-cate-home {
        padding: 0 30px;
        float: left;
        width: 100%;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .link-cate-home {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
    .link-cate-home a {
        display: block;
        width: 18%;
        float: left;
        margin-right: 5px;
        text-align: center;
        background-color: #dceeee;
        padding: 10px 10px 20px 10px;
    }
    .link-cate-home a i {
        font-size: 18px;
        font-style: normal;
        color: #0388e5;
    }
    .link-cate-home a span {
        height: 70px;
        width: 70px;
        margin: 10px auto;
        display: block;
        background-position: 0 0;
        background-repeat: no-repeat;
        -moz-transition: background-image 0.2s ease-in-out;
        -o-transition: background-image 0.2s ease-in-out;
        -webkit-transition: background-image 0.2s ease-in-out;
        -ms-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
    }
    .slideThub1 {
        width: 100%;
        float: left;
        margin-top: 15px;
    }
    .slideThub1 .stn-list-thub {
        width: 33%;
        float: left;
        padding-right: 15px;
    }
    .slideThub1 .stn-list-thub .stn-item-thub {
        width: 100%;
        float: left;
        display: block;
        height: 111px;
        border-bottom: 1px solid rgba(0, 170, 172, 0.27);
        background-color: #ecf6f7;
        padding: 14px 0 14px 14px;
        position: relative;
    }
    .slideThub1 .stn-list-thub .stn-item-thub .stn-img {
        float: left;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        width: 81px;
        height: 81px;
    }
    .stn-img {
        img {
            width: 100%;
            height: 445px;
        }
    }
    .slideThub1 .stn-list-thub .stn-item-thub .stn-detail {
        width: calc(100% - 81px);
        float: left;
        padding-left: 10px;
        padding-top: 8px;
    }
    .slideThub1 .stn-list-thub .stn-item-thub .stn-detail strong {
        font-weight: normal;
        color: #0388e5;
        font-size: 22px;
        display: block;
        width: 100%;
    }
    .slideThub1 .stn-list-thub .stn-item-thub .stn-detail b {
        font-size: 15px;
        font-family: robotol;
        color: #808080;
        font-weight: normal;
    }
    .stn-list-main {
        width: 67%;
        float: right;
    }
    .navi-foo {
        padding: 0 30px;
        background: #0388e5;
        float: left;
        width: 100%;
    }
    .navi-foo .newsletter {
        width: 33%;
        float: left;
        border-right: 1px solid #20b7be;
        height: 120px;
        padding-right: 15px;
        position: relative;
    }
    .navi-foo .newsletter h3 {
        font-size: 22px;
        color: #fff;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .navi-foo .exchange-rate {
        float: left;
        width: 17%;
        height: 120px;
    }
    .navi-foo .question {
        width: 25%;
        float: left;
        border-left: 1px solid #20b7be;
        height: 120px;
        padding: 10px;
    }
    .navi-foo .hotline-foo {
        width: 25%;
        float: left;
        border-left: 1px solid #20b7be;
        border-right: 1px solid #20b7be;
        height: 120px;
        padding: 5px 10px 10px 0;
        background-color: #ff6300;
    }
    .navi-foo .exchange-rate a.ico-exchange-rate {
        border-bottom: 1px solid #20b7be;
        background: url(https://abbank.vn/Content/ABBANK/images/ico-tigia.png) 15px center no-repeat;
    }
    .navi-foo .exchange-rate a.ico-gold-price {
        background: url(https://abbank.vn/Content/ABBANK/images/ico-giavang.png) 15px center no-repeat;
    }
    .navi-foo .question a {
        padding-left: 55px;
        background: url(https://abbank.vn/Content/ABBANK/images/ico-question.png) no-repeat 10px center;
        color: #fff;
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
    }
    .navi-foo .question span {
        color: #abdcde;
        padding: 15px 10px 10px;
        display: block;
        font-size: 14px;
        line-height: 18px;
    }
    .navi-foo .hotline-number-foo {
        padding-left: 70px;
        padding-bottom: 10px;
        background: url(https://abbank.vn/Content/ABBANK/images/ico-hotline-foo.png) no-repeat 10px center;
    }
    .navi-foo .hotline-number-foo b {
        display: block;
        font-size: 21px;
        color: #fff;
        font-weight: bold;
    }
    .navi-foo .hotline-foo span {
        color: #fff;
        padding: 10px 10px 10px 10px;
        display: block;
        font-size: 14px;
        line-height: 18px;
    }
    .navi-foo .exchange-rate a {
        display: block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 60px;
        color: #fff;
        font-size: 17px;
    }
    .navi-foo .question span {
        color: #abdcde;
        padding: 15px 10px 10px;
        display: block;
        font-size: 14px;
        line-height: 18px;
    }
    .navi-foo .newsletter input {
        width: calc(100% - 120px);
        float: left;
        height: 40px;
        background: #fff;
        border: none;
        text-indent: 10px;
    }
    .navi-foo .newsletter button {
        width: 116px;
        text-align: center;
        line-height: 26px;
        border: 1px solid #c2c2c2;
        background: #ff6300;
        font-size: 17px;
        color: #fff;
        margin-left: 4px;
        -moz-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        -webkit-transition: 0.3s linear;
        -ms-transition: 0.3s linear;
        transition: 0.3s linear;
    }
    .navi-foo .newsletter button:hover {
        background-color: #df5904;
    }
    .bannerPage img {
        width: 100%;
    }

    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 994px;
        }
    }

    @media (min-width: 768px) {
        .container {
            width: 768px;
        }
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.denomination-table {
    .row-group {
        border-right: 1px solid #c8c8c8;
        vertical-align: top;
        background-color: white;
    }
}

.validator {
    color: red;
    font-style: italic;
    float: right;
    margin-top: 5px;
}

.validator-left {
    float: left !important;
}

.small-container {
    min-height: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    line-height: 13px;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: inline-block;
}

.tooltip-top {
    &:hover {
        span {
            display: block;
        }
    }
    span {
        position: absolute;
        top: -25px;
        right: 0;
        color: $base-font-color;
        border: 1px solid $base-font-color;
        background: $white;
        border-radius: 3px;
        white-space: nowrap;
        padding: 5px;
        display: none;
        &:before {
            content: "";
            position: absolute;
            border-left: 7px solid transparent;
            border-right: 8px solid transparent;
            border-top: 7px solid $base-font-color;
            right: 25px;
            top: 26px;
        }
        &:after {
            content: "";
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $white;
            right: 27px;
            top: 26px;
        }
    }
}

.uc-bangke tbody tr > td {
    vertical-align: middle !important;
    //padding: 3px 3px !important;
}

.uc-bk-scroll {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    ::-webkit-scrollbar-track {
        max-height: 60vh;
        height: 60vh;
    }
    .uc-bangke {
        border: 1px solid $base-color;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 20px;
    }
}

.uc-bangke {
    border: 1px solid $base-color;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.popup-confirm-scroll-content {
    max-height: 45vh;
    overflow-y: scroll;
}

.sort-header {
    .grid-link {
        color: white;
    }

    .header-group {
        display: flex;
        justify-content: center;
        position: relative;

        .header-button-group {
            position: absolute;
            right: 10px;
        }

        .filter-display {
            padding: 5px;

            .filter-row {
                display: flex;
                margin: 5px 0;
                padding: 5px 0;
                cursor: pointer;
                user-select: none;

                span {
                    color: black;
                }
            }

            .filter-delete {
                color: red;
                position: absolute;
                right: 20px;
                top: 17px;
                cursor: pointer;
            }

            .filter-group {
                max-height: 200px;
                overflow-y: scroll;
            }
        }
    }
}

.nhap-bangke-remove-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nhap-bangke-remove-button {
    border-width: 0px !important;
    padding: 0px !important;
}

.popup-nhap-bang-ke {
    .p-dialog-content {
        max-height: 80vh;
    }

    .chi-tiet-lenh {
        max-height: 30vh;
        overflow: auto;
    }

    .uc-bk-scroll {
        max-height: 60vh;
        overflow: auto;
        margin-right: -0.5em;
    }
}

.popup-xem-bang-ke {
    .uc-bk-scroll {
        max-height: 50vh;
        overflow: auto;
        margin-right: -0.5em;
    }
}

.popup-nhap-bang-ke-tam {
    .uc-bk-scroll {
        max-height: 50vh;
        overflow: auto;
        margin-right: -0.5em;
    }
}

.popup-cap-nhat-gia-an-chi {
    .p-dialog-content {
        max-height: 70vh;
        overflow-y: scroll !important;
    }
}

.transport-code-display {
    font-style: italic;
    // font-size: 12px;
}

.collection-schedule-btn-group {
    display: flex;
    justify-content: space-around;
    padding: 0 5px;

    button {
        width: 49%;
    }
}

.flexbox-table {
    table {
        display: flex;
        flex-direction: column;

        thead,
        tbody {
            display: flex;
            flex-direction: column;

            tr {
                display: flex;
            }

            .flexbox-table-scrollable-div {
                max-height: 400px;
                overflow-y: scroll;
            }
        }
    }
}
.box-top-userinfo {
    display: inline-block;
    text-align: center;
}
.box-top-userinfo .tag-user {
    display: block;
    line-height: 28px !important;
    color: #006db6;
    font-weight: bold;
}
.box-top-userinfo .tag-user-authorized {
    display: block;
    line-height: 28px !important;
    color: #a10097;
    font-weight: bold;
}
.box-top-userinfo .tag-teller-title {
    line-height: 5px !important;
    color: red;
    font-weight: normal;
    text-transform: none;
}
.box-top-userinfo .tag-teller {
    display: block;
    line-height: 5px !important;
    font-weight: bold;
    font-size: 12px;
}
.box-notify {
    width: 380px;
    overflow-y: scroll;
    height: 500px;
    position: absolute;
    right: -120px;
}
.notify-title {
    color: black;
    line-height: 1.35;
    font-size: 13px;
}
.notify-date {
    line-height: 1.35;
    font-size: 13px;
}
.notify-title-icon {
    color: #0388e5;
    margin-right: 5px;
    font-size: 14px;
}
.notify-date-icon {
    color: #7d8a8b;
    margin-right: 5px;
    font-size: 13px;
}
.notify-status {
    color: #0388e5;
    font-size: 12px;
    font-style: italic;
}
.notify-content-row-even {
    background: #f9fcfe;
}
.notify-content-row-odd {
    background: white;
}
.notify-content {
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.notify-count {
    position: relative;
    top: -16px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    padding: 4px 4px;
    display: inline-block;
    font-size: 13px;
    left: -3px;
    text-align: center;
}
.doi_ngoai_te_box {
    border: 1px solid gainsboro;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    padding: 16px;
}

.doi_ngoai_te_line {
    margin-bottom: 5px;
    font-size: 16px;
}
.p-treenode > ul > li > div > div,
.p-treenode > div > div {
    display: inline-block;
}
.p-treenode > div > span > span {
    color: black;
}

.pi-check:before {
    content: "\e909";
    color: blue;
}

.default-border {
    border: 1px solid #0388e5;
}

.font-smaller {
    font-size: smaller;
}

.p-treenode > ul > li > div > span,
.p-tree-icon {
    padding-right: 5px;
}
.p-treenode > div > span,
.p-tree-icon {
    padding-right: 5px;
}

.reletive {
    position: relative;
}

.key-select {
    background-color: #0388e5 !important;
    color: white;
}

.p-dialog-overflow-visible {
    .p-dialog-content {
        overflow: visible !important;
    }
}

.word-break {
    word-break: break-word;
}

.hidden-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}
.border-right {
    border-right: 1px solid #c8c8c8;
}
.custom-validator {
    .validator {
        float: left !important;
    }
}
.border-full tbody tr td {
    border: 1px solid #c8c8c8 !important;
    padding-left: 0px;
    padding-right: 0px;
}
.messageout-enter-active {
    opacity: 1;
    transform: translateY(0%) scale(1);
    transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {
    opacity: 1;
    transform: scale(1.01);
}

/* ending EXIT animation */
.messageout-exit-active {
    opacity: 0;
    transform: scale(4);
    transition: all 1000ms ease-in-out;
}
.bg-red {
    background-color: red !important;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.screen-monitor {
    background: white !important;
    padding: 0px;
    margin: 0px;
    .box-header {
        height: 50px;
        width: 100%;
        background: rgb(20, 30, 210);
        .left-item {
            display: inline-block;
            width: 150px;
            height: 50px;
            img {
                max-width: 100%;
                height: 50px;
            }
            background: white;
        }
        .right-item {
            display: inline-block;
            width: calc(100% - 150px);
            height: 50px;
        }
    }
    .box-content {
        background: rgb(241, 239, 234);
        width: 100%;
        height: calc(100vh - 60px);

        .box-news-text {
            margin: 0x auto;
            padding: 20px 50px;
            .news-title {
                font-weight: bold;
                color: black;
                text-align: center;
            }
            .news-content {
                color: black;
                margin-top: 15px;
                background: white;
                box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.2);
                padding: 10px 10px;
            }
        }
        .box-news-image {
            .left-news-image {
                border: 2px solid black;
            }
            .right-news-image {
                border: 2px solid black;
                padding: 5px 5px;
                .item-image {
                    border-radius: 5px;
                    margin-top: 5px;
                }
            }
        }

        .box-woking {
            padding: 15px 10px;
        }
    }
}

.effect {
    color: #683c8f;
    font-weight: bold;
}

.un-effect {
    color: red;
    font-weight: bold;
}

.value-field {
    display: block;
    width: 100%;
    min-height: 30px;
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
    padding-left: 0;
    display: center;
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
}

.arrow-right-button {
    padding: 5px 6px;
    background: #3fabea;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.hight-light-grid {
    background-color: #9fc0eb !important;
}

.hight-light-list-img {
    border: red 1px solid;
}

.title-label {
    display: block;
    width: 100%;
    padding: 5px 10px;
    min-height: 30px;
    line-height: 16px;
    font-size: 14px;
    color: #222;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.table-word-break {
    table tbody tr > td {
        word-break: break-word;
    }
}
