.sm-combo-searchbox {
  display: inline-block;
  .search-box-container {
    display: inline-block;
    position: relative;
    input {
      padding: 5px 8px;
      min-height: 30px;
    }
    i {
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }
  .search-box-content {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 2px;
    position: absolute;
    z-index: 1000000000;
  }
  .search-box-item {
    padding: 5px 5px;
    &:hover {
      background-color: #0388e5 !important;
      color: white !important;
    }
    cursor: pointer;
  }
}