.action{
    position: relative;
    .icon-action{
        cursor: pointer;
    }
    .popupAction{
        // display: none;
        text-align: left;
        position: absolute;
        right: 0;
        width: 100px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.14);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
        z-index: 1000;
        .item-action{
            padding: 7px 10px;
            cursor: pointer;
            i{
                font-size: 16px;
                margin-right: 5px;
            }
            span{
                font-size: 14px;
            }
        }
        .item-action:hover{
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
    // .active{
    //     display: block;
    // }
}