.d-inline-flex {
    display: inline-flex;
    flex-wrap: wrap;

    .p-2 {
        padding: 0.5rem;

        .card {
            border: 1px solid rgba(0, 0, 0, 0.14);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);

            .d-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 14px;
                margin-bottom: 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.14);

                .card-title {
                    font-size: large;
                }
            }

            .card-text {
                margin-top: 5px;
            }
        }
    }

    .btn-submit {
        padding: 6px 12px;
        background-color: white;
        height: 100%;
        cursor: pointer;
    }

    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @media (min-width: 576px) {
        .col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-sm-4 {
            flex: 0 0 33.3333%;
            max-width: 33.333333%;
        }

        .col-sm-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    @media (min-width: 768px) {
        .col-md-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .col-md-8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        .col-md-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }

        .col-md-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-md-5 {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }

        .col-md-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        .col-md-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }

        .col-md-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }
    }

    @media (min-width: 992px) {
        .col-lg-8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        .col-lg-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }

        .col-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    @media (min-width: 1200px) {
        .col-xl-8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        .col-xl-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}