.grid-car {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    width: 50%;
}

.grid-category{
    .custom-textarea{
        .text-area{
            width: 100%;
        }
    }
}